<div class="container">
  <div class="row">
    <app-search-user></app-search-user>
    <div class="col m4 s6" *ngFor="let user of users">
      <div (click)="goToUser(user)" class="card horizontal" userBorderCard>
        <div class="card-image">
          <img class="activator" [src]="user.picture">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>{{user.name}}</h4>
            <p>{{user.created | date:"dd/MM/yyyy"}}</p>
            <span *ngFor="let type of user.types" class="{{type | userTypeColor}}">
              {{type}}
            </span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<a class="btn-floating btn large waves-effect waves-light red z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;"
   routerLink="/user/add"
>
  +
</a>
